<div class="d-flex justify-content-between align-items-center mb-4">
  <h1><%= BalanceSheet.model_name.human.pluralize %></h1>
  <%= link_to I18n.t('views.balance_sheets.edit.new_title'), new_balance_sheet_path, class: "btn btn-primary" %>
</div>

<% if @balance_sheets.any? %>
  <div class="row">
    <% @balance_sheets.each do |balance_sheet| %>
      <div class="col-md-6 mb-4">
        <%= cell(BalanceSheetCell, balance_sheet).call(:summary) %>
        <div class="d-flex justify-content-between mt-2">
          <%= link_to I18n.t('views.balance_sheets.show.back'), balance_sheet, class: "btn btn-sm btn-primary" %>
          <%= link_to I18n.t('views.balance_sheets.show.edit'), edit_balance_sheet_path(balance_sheet), class: "btn btn-sm btn-secondary" %>
          <%= link_to I18n.t('views.balance_sheets.show.destroy'), balance_sheet, data: { turbo_method: :delete, turbo_confirm: I18n.t('views.common.confirm_destroy') }, class: "btn btn-sm btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-info">
    <p><%= I18n.t('views.balance_sheets.index.empty') %></p>
    <%= link_to I18n.t('views.balance_sheets.index.create_first'), new_balance_sheet_path, class: "btn btn-primary" %>
  </div>
<% end %>

