<div class="row justify-content-center">
  <div class="col-md-8">
    <h1>Nueva Cuenta</h1>
    <%= simple_form_for @account do |f| %>
      <%= f.input :name, label: "Nombre", placeholder: "Ej: Cuenta Corriente Principal" %>
      <%= f.input :account_type, label: I18n.t("activerecord.attributes.account.account_type"), collection: Account.translated_account_types, prompt: I18n.t("views.common.select_prompt") %>
      <%= f.input :preferred_currency,
                  collection: Account.currency_options,
                  include_blank: false,
                  label: I18n.t("activerecord.attributes.account.preferred_currency") %>
      <%= f.input :use_conversion_factors,
          as: :boolean,
          label: I18n.t("activerecord.attributes.account.use_conversion_factors") %>
      <%= f.input :description, label: "Descripción", as: :text, input_html: { rows: 4 } %>
      
      <div class="d-flex justify-content-between">
        <%= link_to "Cancelar", accounts_path, class: "btn btn-secondary" %>
        <%= f.submit "Crear Cuenta", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

